<section class="section">
  <div class="container">
    <h1 class="title is-2">UK Ceremony</h1>

    <ul>
      <li><a href="#when-where">When &amp; Where</a></li>
      <li><a href="#who">Who</a></li>
      <li><a href="#what">What to Expect</a></li>
      <li><a href="#after">After the Ceremony</a></li>
      <li><a href="#picnic">The Picnic</a></li>
      <li><a href="#travel-info">Travel</a></li>
      <li><a href="#rsvp-contact">RSVP &amp; Contact</a></li>
    </ul>

    <hr />
    <div class="content">
      <h2 class="title is-3" id="when-where">When &amp; Where</h2>

      <div style="overflow: hidden;">
        <a href="https://oakleycourt.co.uk" target="_new" class="copy-image">
          <img src="/images/oakley2.jpg"/>
        </a>
        <h3 class="title is-3">August 24th, 2019</h3>
        <h3 class="subtitle is-4">
          <a href="https://oakleycourt.co.uk" target="_new">
            The Oakley Court
            <br />
            Windsor Road, UK
          </a>
          <br />
          <br />
          <a href="#travel-info">Travel Info (below)</a>
        </h3>
        <p>
          Our ceremony will take place in the library
        <p>
        <p>
          We're still working out a time with our coordinator, but we promise to keep you posted.
        </p>
      </div>

      <hr />

      <h2 class="title is-3" id="who">Who</h2>
      <p>
        As our ceremony space is extremely limited, we are only able to accommodate those guests
        formally invited on your wedding invitation. 
      </p>

      <hr />

      <h2 class="title is-3" id="what">What to Expect</h2>
      <p>
        Our ceremony will be unplugged! We'll have a photographer to commemorate the day and will be happy to share pictures with you. We ask
        that all our guests refrain from using phones or taking photos or video at any point during the ceremony.
      </p>

      <p>
        We're getting married in a freaking castle. Please dress accordingly by wearing your most
        castley formal attire.
      </p>

      <p>
        Our wedding is going to be quite a large commitment for our guests - As such please consider
        this a gift-free event.
      </p>

      <hr />

      <h2 class="title is-3" id="after">After the Ceremony</h2>
      <p>
        Directly following the ceremony, we will have a Drinks Reception with Prosecco & Canapes.
      </p>
      <p>
        Following the drink reception, we will be dining at The Palmer Arms.  This will not be a formal reception, guests will be responsible for their meals and beverages.
      </p>
    
      <div style="overflow: hidden;">
        <a href="http://www.thepalmerarms.com" target="_new" class="copy-image">
          <img src="/images/the-palmers-arms-outside.jpg"/>
        </a>
        <h3 class="title is-3">The Palmer Arms</h3>
        <h3 class="subtitle is-4">
          <a href="http://www.thepalmerarms.com" target="_new">
            1293 Village Road
            <br />
            Dorney, Windsor SL4 6QW, UK
          </a>
        </h3>

        <p>
          All our guests are welcome to join us for dinner and drinks after the ceremony.
          Should you choose to bring a guest on your trip to the UK, they are welcome to come!
        </p>
      </div>

      <hr />

      <h2 class="title is-3" id="picnic">The Picnic (August 25th)</h2>

      <p>
        The day after our wedding happens to be the TimeWarp Picnic. This is an annual event that takes place over August Bank Holiday Weekend at The Oakley Court to celebrate The Rocky Horror Picture Show, which was filmed in the castle. Some of you may be familiar. 
      </p>

      <p>
        According to the <a href="http://www.timewarp.org.uk/picnicshow2019/index.htm" target="_new">official TimeWarp Picnic website</a>, this is your chance to meet up with friend old and new, to wear costumes around the castle without a problem, and to attend a screening of The Rocky Horror Picture show in the location where it was created. Some of you may have already seen it, but it's cool, we can watch it again. 
      </p>

      <p>
        In order to attend the event, you need to be staying at The Oakley Court on Sunday night.
        Your room rate of $332 includes the picnic, accommodation, and breakfast the next day. 
      </p>
      <p>
        The event begins around 4pm on 8/25, the event bar opens around 8pm, and the movie screening begins around 10pm.
      </p>

      <hr />

      <h2 class="title is-3" id="travel-info">Travel</h2>
      <p>
        Guests who wish to attend should book flights into London Heathrow Airport.
      </p>

      <p>
        Flight prices will vary, of course, depending on times and dates you wish you travel,
        but plan to spend around $650-$800 for one round-trip ticket from New York to London
        in the days leading up to and following August 24th. 
      </p>

      <p>
        Once at Heathrow Airport, the most straightforward way to The Oakley Court is a 15 mile uber
        ride, which should take about 20 minutes and cost around $45. There is also public
        transportation to the castle, which will be roughly a two hour long journey, but only cost a
        few dollars. 
      </p>

      <p>
        We have a block of ten rooms reserved for our guests at The Oakley Court.
      </p>
      <p>
        Contact the Reservations Department and reserve the accommodation quoting reference
        "Megan Fierro / Aaron Tidwell Wedding".
      </p>
      <p>
        These rooms are first come first serve, and priced as follows:
      </p>

      <p>
        Friday 8/23 - $243
        <br />
        Saturday 8/24 - $243
        <br />
        Sunday 8/25 - $332
        <br />
        The reserved block includes bed and breakfast!
      </p>

      <p>
        For guests who book outside the reserved block, rooms at The Oakley Court are priced
        at a rate of $278 per night, the exception being Sunday 8/25, which will be $332. 
      </p>

      <p>
        There are many other hotels very within a few miles of The Oakley Court that are
        significantly more budget-friendly. We found a few that look like great places to stay:
      </p>

      <p>
        Rooms at <a href="https://royaladelaide.com" target="_new">The Royal Adelaide</a> average $127 per night
        <br />
        Rooms at <a href="https://www.premierinn.com/gb/en/hotels/england/berkshire/slough/slough-central-south-windsor-road.html" target="_new">The Premier Inn</a> average only $60 per night.
      </p>
      
      <hr />

      <h2 class="title is-3" id="rsvp-contact">RSVP &amp; Contact</h2>

      <p>
        If you've got any questions, don't hesitate to reach out to Meg at
        <a href="mailto:fierrom90@gmail.com">fierrom90@gmail.com</a>, or Aaron at
        <a href="mailto:aaron.tidwell@gmail.com">aaron.tidwell@gmail.com</a>.
      </p>

      <p>
        Let us know if you can make it (we hope you can!). Please RSVP by December 31, 2018 on the <a href="/rsvp">RSVP section</a>.
      </p>

    </div>
  </div>
</section>
