<a href="/ceremony">
  <section class="hero is-medium oakley-bg hero-section">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1 primary-color">
          UK Ceremony
        </h1>
        <h1 class="subtitle primary-color">
          August 24th, 2019
        </h1>
      </div>
      <i class="fas fa-angle-double-right primary-color"></i>
    </div>
  </section>
</a>

<a href="/reception">
  <section class="hero is-medium party-bg hero-section">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1 primary-color">
          US Reception
        </h1>
        <h1 class="subtitle primary-color">
          September 7th, 2019
        </h1>
      </div>
      <i class="fas fa-angle-double-right primary-color"></i>
    </div>
  </section>
</a>

<!--
<a href="/rsvp">
  <section class="hero is-medium hero-section rsvp-section">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1 primary-color">
          RSVP
        </h1>
      </div>
    </div>
    <div class="bg">
      <img src="/images/rsvp.png" />
    </div>
  </section>
</a>
-->
