<section class="section">
  <div class="container">
    <h1 class="title is-2">US Reception</h1>

    <ul>
      <li><a href="#when-where">When &amp; Where</a></li>
      <li><a href="#who">Who</a></li>
      <li><a href="#what">What to Expect</a></li>
      <li><a href="#travel-info">Travel</a></li>
      <li><a href="#rsvp-contact">RSVP &amp; Contact</a></li>
    </ul>

    <hr />
    <div class="content">
      <h2 class="title is-3" id="when-where">When &amp; Where</h2>

      <div style="overflow: hidden;">
        <div class="copy-image">
          <img src="/images/house.jpg"/>
        </div>
        <h3 class="title is-3">
          September 7th, 2019
          <br />
          5:00 PM
        </h3>
        <p>
          Join us for our Post-Wedding Reception at our home.
          <br /><br />
          231 Orchard Street
          <br />
          Keyport NJ, 07735.
        </p>
      </div>

      <hr />

      <h2 class="title is-3" id="who">Who</h2>
      <p>
        We got married! But we still want to celebrate with all our friends who weren’t able to come abroad with us,
        so we’re having a reception at home!
      </p>
      <p>
        Everyone is welcome to attend, +1s included, just let us know on the RSVP so we know how much booze to get!
      </p>

      <hr />

      <h2 class="title is-3" id="what">What to Expect</h2>
      <p>
        There will be food, lots of drinks, awesome music, and an all-around great time. 
      </p>

      <p>
        This is a strictly formal event - the bride and groom will be in wedding attire and encourage guests to do their damndest to one-up them. We’re not kidding.
      </p>

      <p>
        Gifts? No, we couldn’t possibly! But since you asked, we’re registered <a href="https://www.amazon.com/wedding/share/nycrhpswedding"> <i class="fas fa-gift fa-xs"></i> via amazon</a>.
      </p>

      <hr />

      <h2 class="title is-3" id="travel-info">Travel</h2>
      <p>
        Guests who wish to come via public transportation should take a New Jersey Transit
        train to the Aberdeen/Matawan station, via the Long Branch line.
      </p>

      <p>
        Trains leave from Penn Station about once an hour. 
      </p>

      <p>
        The last train from Aberdeen/Matawan to Penn Station leaves around 1am.
        Any guests who wish to stay later may plan to spend the night.
        We have space for about 12, and all are welcome. We can even have breakfast on Sunday morning!
      </p>
      <p>
        For detailed train schedules, visit the 
        <a href="https://www.njtransit.com" target="_new">New Jersey Transit website</a>.
      </p>

      <h2 class="title is-3" id="rsvp-contact">RSVP &amp; Contact</h2>

      <p>
        If you've got any questions, don't hesitate to reach out to Meg at
        <a href="mailto:fierrom90@gmail.com">fierrom90@gmail.com</a>, or Aaron at
        <a href="mailto:aaron.tidwell@gmail.com">aaron.tidwell@gmail.com</a>.
      </p>

      <p>
        Let us know if you can make it (we hope you can!). Please RSVP on the <a href="/rsvp">RSVP section</a>.
      </p>

    </div>
  </div>
</section>
