<section class="section">
  <div class="container">
    <h1 class="title is-2">US Reception</h1>

    <div class="content">
      <h2 class="title is-3" id="when-where">Photos Soon!</h2>
    </div>
  </div>
</section>
