<div class="rsvp-form">
  <h1 class="title is-2">RSVP</h1>

  <form action="https://formspree.io/fierrom90@gmail.com" method="POST" />
    <div class="field">
      <label class="label">Name(s)</label>
      <div class="control">
        <input name="names" class="input" type="text" placeholder="Guest Name(s)" required>
      </div>
    </div>

    <div class="field">
      <label class="label">Contact Email</label>
      <div class="control has-icons-left">
        <input name="email" class="input" type="text" placeholder="Email for correspondence">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope fa-xs"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">Contact Phone Number</label>
      <div class="control has-icons-left">
        <input name="phone" class="input" type="text" placeholder="Phone number for correspondence">
        <span class="icon is-small is-left">
          <i class="fas fa-phone fa-xs"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">RSVP Status</label>
      <div class="control">
        <label class="checkbox">
          <input name="is-attending-ceremony" type="checkbox" value="attending-ceremony">
          Will be attending the Ceremony in the UK at Oakley Court
        </label>
      </div>
      <div class="control">
        <label class="checkbox">
          <input name="is-attending-reception" type="checkbox" value="attending-reception">
          Will be attending the Reception in Keyport, NJ
        </label>
      </div>
      <div class="control">
        <label class="checkbox">
          <input name="is-not-attending" type="checkbox" value="not-attending">
          Cannot attend either event.
        </label>
      </div>
      <p class="help">
        The capacity for the UK ceremony is <em>very</em> limited.
        We kindly ask that you only RSVP for the ceremony if you have received an invitation and are sure you will be able to attend.
      </p>
    </div>

    <div class="field">
      <label class="label">Additional Notes</label>
      <div class="control">
        <textarea name="notes" class="textarea" placeholder="Questions, comments, etc?"></textarea>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link">Submit</button>
      </div>
    </div>
  </form>
</div>
