<div class="rsvp-form">
  <h1 class="title">RSVP</h1>
  <div class="field">
    <label class="label">Name(s)</label>
    <div class="control">
      <input class="input" type="text" placeholder="Guest Name(s)">
    </div>
  </div>

  <div class="field">
    <label class="label">Contact Email</label>
    <div class="control has-icons-left">
      <input class="input" type="text" placeholder="Email for correspondence">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope fa-xs"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Contact Phone Number</label>
    <div class="control has-icons-left">
      <input class="input" type="text" placeholder="Phone number for correspondence">
      <span class="icon is-small is-left">
        <i class="fas fa-phone fa-xs"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">RSVP Status</label>
    <div class="control">
      <label class="checkbox">
        <input type="checkbox" value="attending-ceremony">
        Will be attending the Ceremony in the UK at Oakley Court
      </label>
      <label class="checkbox">
        <input type="checkbox" value="attending-ceremony">
        Will be attending the Reception in Keyport, NJ
      </label>
      <label class="checkbox">
        <input type="checkbox" value="not-attending">
        Cannot attend either event.
      </label>
    </div>
    <p class="help">
      The capacity for the UK ceremony is <em>very</em> limited.
      We kindly ask that you only RSVP for the ceremony if you have received an invitation and are sure you will be able to attend.
    </p>
  </div>

  <div class="field">
    <label class="label">Additional Notes</label>
    <div class="control">
      <textarea class="textarea" placeholder="Questions, comments, etc?"></textarea>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Submit</button>
    </div>
    <div class="control">
      <button class="button is-text">Cancel</button>
    </div>
  </div>
</div>
